<section>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  <div class="social-icons">
    {% include asides/social/facebook.html %}
    {% include asides/social/linkedin.html %}
    {% include asides/social/googleplus.html %}
    {% include asides/social/github.html %}
    {% include asides/social/twitter.html %}
    {% if site.email %}
    <a href="mailto:{{ site.email }}"><img src="/images/social/email_inverted.png" alt="email" /></a>
    {% endif %}
    {% if site.subscribe_rss %}
    <a href="{{ site.subscribe_rss }}"><img src="/images/social/rss.png" alt="RSS" /></a>
    {% endif %}
  </div>
</section>
